<h1>{{name}}</h1>
<div class="soloAlbumContainer">
  <img class='soloAlbum' src={{cover}} />

  <h2>Produed: {{artist}}</h2> 
  <h2>Year: {{year}}</h2>
</div>
{{#each comments}}
  <div class='commentBox'>
    <h2>{{rating}}/10</h2>
    <p>{{comment}}</p>
  </div>
{{/each}}
<form method='POST' action='/album/{{id}}'>
    <label for="rating">Rating:</label>
    <input type="text" id="rating" name="rating">
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment">
    <input class='submit' type="submit" value="Submit">
</form>